:root {
  --wvp-color: #ffffff;
  --wvp-color-shade: #b2b4b6;

  --wvp-background: #3f4447;
  --wvp-background-shade: #2c3135;

  --wvp-controls-height: 40px;

  --wvp-seek-height: 20px;
  --wvp-seek-background: #565a5e;
  --wvp-seek-buffered-color: #6b6f72;
  --wvp-seek-color: #00c65e;
}
